<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stysheet" href="media.css"> 
</head>
<body id="b1">
<header id="h1"></header>
<div class="container">
<div class="row">
<div class="col-md-12 col-md-offset-3">
<%=image_tag('cooking-new.png', class: 'img-responsive', alt: 'No image')%>
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div id="message">
<p id="p1">Be inspired to play with your food again! Tell stories of great meals and good times! Craft your shareable editable e-book, preserve heirloom recipes and create new favorite. 
Be my guest! use my recipes and see how...<a href="#2min" data-toggle="collapse">(Read more, 1 min)</a>
<div id="2min" class="collapse">
</p>
<p id="p1">you can start creating your iTopRecipes ebook masterpiece.  
By sharing recipes and tips, I aim to boost the variety of delicious meals home cooks can prepare using 
<p id="p1">
one pot and one skillet. The recipes are created using raw ingredients selected from supermarkets weekly fliers.
</p>
<br>
<p id="p1">
I have been in foods service since my teen years, my first summer job was making artisanal gelato, then I was blessed to work and travel in high-end hotel and resorts throughout the world for many years with top Chefs and mentors, luckily not yellers as we see in some TV shows.  
</p>
<p id="p1">
In the early nineties, I built my open kitchen restaurant and received many media rave reviews including three stars articles. A pioneer in the home replacement all-natural meals in the 90’, we shipped mail order boxes of fully cooked delicious meals packaged in eco-friendly containers to homes, here a “Good News Article” <a href="#">2-minutes read.</a>
</p>
<br>
<p id="p1">
Cooking is an action regardless if you consider it an art or a craft, and food is our fuel, I look forward to cook up a zestier future!</br>
Bruno.
</p>
</div>
</div>
</div>
</div>

<hr>
<div class="row">
<div class="col-md-6 text-center col-md-offset-3">
<%# <div id="move-right">
  <div id="btn"> %>
  <div class="row">
  <div class="col-md-6 text-center col-md-offset-3">
  <button class=".btn-success"><%= link_to 'Take a tour as Guest', register_path, {:style=>'color:rgb(0,112,192);position:center;', :id => "btn"} %></button>
  </div>
  </div>

  <%# </div> %>
  <div class="row">
  <div class="col-md-6 text-center col-md-offset-3">
    <p id="lgp">
      <center><p style="font-size:23px;">To use and receive new recipes and ask chef tips.</p></center>
      <center>*We never share your contact information.<br></center>
      <center>** We do no place banners, dropdowns, </center>
      <center>or strolling ads of any kind in your iTopRecipe app.<br></center>
    </p>
  </div>
  </div>
    <hr>
  <%# <div id="btn"> %>
  <div class="row">
  <div class="col-md-6 text-center col-md-offset-3">
  <button class=".btn-success"><%= link_to 'Login', login_path, {:style=>'color:rgb(0,112,192);position:center;', :id => "btn"} %></button>
  </div>
  </div>
  <%# </div> %>
     <hr>

<%# </div> %>
</div>
</div>

<div class="footer3">
  <p>Powered by iTopRecipes.com &copy;2017</p>
</div>
</div>
</body>
</html>



<!--<div id="list">-->
<!--  <p id="btn">Start your masterpiece, pick one today!</p>-->
<!--  <ul id="packages" style="font-size:23px;">-->
<!--	<li> </li>-->
<!--	<li> Families and Friends</li>-->
<!--	<li> Enterprises </li>-->
<!--	<li> Professionals </li>-->
<!--	<li> Amateurs</li>-->
<!--  </ul>-->
<!--</div>-->
